h1, h2 {
    text-align: center;
}

body {
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
}

ol {
    display: block;
    font-size: 20px;
    margin: 0 auto;
    width: 240px;
}

li {
    margin-bottom: 10px;
}

input {
    margin-right: 10px;
}
